<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Log" value="C:\Users\Kamil\Desktop\MGR\semestr 1\ZTP\ZTP_Scheduler\Scheduler\Log\myapp.txt" />
    <add key="MalingCSV" value="C:\Users\Kamil\Desktop\MGR\semestr 1\ZTP\ZTP_Scheduler\Scheduler\Data\mailing.csv" />



  </appSettings>
</configuration>