<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="LogPath" value="Log/myapp.txt" />
        <add key="MalingCSVPath" value="Data/mailing.csv" />
        <add key="SmtpHost" value="smtp.gmail.com" />
        <add key="SmtpPort" value= "587" />
        <add key="MailAddress" value="testcsparp@gmail.com" />
        <add key="MailPassword" value="Qwerty1111!" />
        <add key="MessageSubject" value="Promocja w Company!" />
    </appSettings>
</configuration>