<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="LogPath" value="C:\Users\Kamil\Desktop\MGR\semestr 1\ZTP\ZTP_Scheduler\Scheduler\Log\myapp.txt" />
        <add key="MalingCSVPath" value="C:\Users\Kamil\Desktop\MGR\semestr 1\ZTP\ZTP_Scheduler\Scheduler\Data\mailing.csv" />
    </appSettings>
</configuration>